html {
  font-family: sans-serif;
}

header {
  min-height: 100vh;
  background-image: url(./vacaprincipal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  padding: 0.5 rem;
}
div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
li {
  list-style: none;
  text-decoration: none;
  display: inline;
  padding: 5rem;
}

li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

div > h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
}

div > a {
  color: white;
  background-color: black;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 3rem;
  font-weight: bold;
}

section {
  background-color: orange;
}

section > div > h1 {
  color: white;
  font-weight: bold;
  font-size: 80px;
}

section > div > p {
  padding: 2rem;
}

section > div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  font-weight: bold;
  grid-auto-flow: dense;
  padding: 2rem;
}

table {
  padding: 2rem;
}

td.imagen1 {
  background-image: url(./vaca1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
td.imagen2 {
  background-image: url(./vaca2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
td.imagen3 {
  background-image: url(./vaca3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

tr.tipovaca {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
tr.descripvaca {
  background-color: black;
  color: white;
}
tr.comprarvaca {
  background-color: grey;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
form {
  background-color: white;
  padding: 0;
}

.tituloform {
  color: orange;
  font-weight: bold;
  font-size: 60px;
}

label.name {
  font-weight: bold;
}
label.address {
  font-weight: bold;
}

label.provincia {
  font-weight: bold;
}
label.comments {
  font-weight: bold;
}
label.newsletter {
  font-weight: bold;
}

input.name {
  background-color: orange;

  border: 2px solid black;
}
input.address {
  background-color: orange;
  border: 2px solid black;
}
select.provincia {
  background-color: orange;
  border: 2px solid black;
}
textarea.comments {
  background-color: orange;
  border: 2px solid black;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin-top: 1rem;
  width: 200px;
}
