* {
  font-family: sans-serif;
}
/* ####### HEADER ######## */
header {
  background-image: url(vacaprincipal.jpg);
  background-repeat: no-repeat;
  opacity: 0.7;
  background-size: cover;
  height: 1000px;
  display: flex;
  flex-direction: row;
}
/* UL */
header ul {
  list-style: none;

  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* UL LI */
li {
  padding: 2rem;
}
/* UL LI A */
li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
/* H1 */
header h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

/* COMPRAR */
.comprar {
  color: black;
  font-size: 3rem;
  padding: 1.5rem;
  font-weight: bold;
  align-content: flex-start;
  text-align: center;
}
/* /HEADER */

/* ####### SECTION ######## */
section {
  background: orange;
  padding: 2rem 2rem;
}

/* DIV SECTION */

.section {
  column-count: 2;
  padding: 2rem;
  text-align: justify;
  font-weight: bold;
}

/* H1 SECTION*/

.section > h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}
/* P SECTION*/
.section > p {
  font-weight: bold;
}

/* ######### TABLE ####### */

table {
  display: grid;
}

/* PRIMER TR */

.imagenvacas {
  height: 20rem;
  width: 30rem;
}

/* BACKGROUND IMAGE DE LOS TDS DE LA TABLA */

.imagen1 {
  background-image: url(vaca1.jpg);
}
.imagen2 {
  background-image: url(vaca2.jpg);
}
.imagen3 {
  background-image: url(vaca3.jpg);
}

/* SEGUNDO TR */

.tipovaca {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* TH DENTRO DEL SEGUNDO TR */

.tipovaca > th {
  padding: 2rem;
  margin: 0;
}

/* TERCER TR */

.descripvaca {
  background-color: black;
  color: white;
}

/* TD DENTRO DE TR */

.descripvaca > td {
  margin: 0;
  padding: 2rem;
  font-weight: bold;
}

/* CUARTO TR */

.comprarvaca {
  background-color: gray;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

/* TD DENTRO DE TR */

.comprarvaca > td {
  padding: 2rem;
  margin: 0;
}

/*  ######## FORM ####### */

form {
  background-color: white;
  color: orange;
  padding: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

/* FIELDSER */

fieldset {
  padding: 2rem;
}

/* H2 TITULOFORM */

.tituloform {
  font-size: 3rem;
}

/* INPUT */

input {
  background-color: orange;
}

/* SELECT */

select {
  background-color: orange;
}

/* TEXTAREA */

textarea {
  background-color: orange;
  border: 2px solid black;
}

/* DIV DE BUTTON */

.button {
  padding: 2rem;
}

/* BUTTON */

button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
}
