body {
  font-family: sans-serif;
  background: lightcoral;
  color: black;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

#calcular {
  background: black;
  color: white;
  border: none;
  padding: 1rem;
  font-weight: bold;
}
fieldset {
  border: none;
}
input {
  margin: 1rem;
  font-size: 2rem;
}
button {
  background: white;
  color: black;
  border: none;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 20wpx;
}
label {
  font-weight: bold;
}
